In [7]:
import json
from collections import defaultdict

def get_response(fname):
    with open(fname, 'r') as f:
        data = f.read()

    response = json.loads(data)
    response.pop('page_id') if response.get('page_id') else False

    pid_resp = defaultdict(dict)
    pass_resp = defaultdict(str)
    for k, v in response.items():
        if 'response' in k:
            temp = k.split("_")
            pid = temp[0].strip('p')
            v = json.loads(v)
            pid_resp[pid].update(v)
        else:
            pass_resp[k] = v
    return [pass_resp, pid_resp]

In [14]:
import os
fpath = './responses'
resp = []
resr = []
for i, fname in enumerate(os.listdir(fpath)):
    pss, pid = get_response(os.path.join(fpath, fname))
    # print(i+1, pss)
    resp.append(pss)
    resr.append(pid)
    # print(i+1, pid)

In [16]:
import pandas as pd
pd.DataFrame(resp)

      password1      password2 password2_recall2 password1_recall2
0            aa         wsqsas            wsawqs                qs
1            12             12               NaN               NaN
2      password       password               NaN               NaN
3            aa            pop               NaN               NaN
4            aa           dddd                dd               NaN
5            qq              w               NaN               NaN
6            qq              s                 e                ss
7       test123        test123               NaN               NaN
8       Test123        Test123               NaN               NaN
9  blahblahblah  blahblahblah!               NaN               NaN

In [17]:
pd.DataFrame(resr)

,4,7,8,11,3,14
0,"{'1-1': '12', '2-1': 'Man', '3-1': '30-34 year...","{'1-19': '6', '1-20': '5', '1-21': '4', '1-22'...","{'1-1': '5', '1-2': '6', '1-3': '7', '1-4': '6...","{'1-1': '7', '2-1': '7', '2-2': '7', '2-3': '7...","{'1-1': '4', '2-1': '5', '2-2': '5', '2-3': '4...",NaN
1,"{'1-1': 'nh', '2-1': 'Woman', '3-1': '40-44 ye...","{'1-19': '2', '1-20': '2', '1-21': '2', '1-22'...","{'1-1': '2', '1-2': '2', '1-3': '2', '1-4': '2...","{'1-1': '4', '2-1': '4', '2-2': '4', '2-3': '4...","{'1-1': '4', '2-1': '4', '2-2': '3', '2-3': '2...",NaN
2,"{'1-1': 'test', '2-1': 'Woman', '3-1': '25-29 ...","{'1-19': '4', '1-20': '5', '1-21': '4', '1-22'...","{'1-1': '4', '1-2': '5', '1-3': '4', '1-4': '5...","{'1-1': '4', '2-1': '3', '2-2': '4', '2-3': '3...","{'1-1': '4', '2-1': '5', '2-2': '4', '2-3': '4...",NaN
3,"{'1-1': '12', '2-1': 'Woman', '3-1': 'I prefer...","{'1-19': '7', '1-20': '7', '1-21': '7', '1-22'...","{'1-1': '7', '1-2': '6', '1-3': '6', '1-4': '6...","{'1-1': '7', '2-1': '7', '2-2': '6', '2-3': '6...","{'1-1': '7', '2-1': '7', '2-2': '7', '2-3': '1...","{'1-1': '12', '2-1': 'Woman', '3-1': '18-24 ye..."
4,"{'1-1': '2', '2-1': 'Woman', '3-1': '25-29 yea...","{'1-19': '5', '1-20': '4', '1-21': '3', '1-22'...","{'1-1': '6', '1-2': '5', '1-3': '4', '1-4': '3...","{'1-1': '7', '2-1': '6', '2-2': '5', '2-3': '7...","{'1-1': '7', '2-1': '6', '2-2': '5', '2-3': '4...",NaN
5,"{'1-1': 'ww', '2-1': 'Woman', '3-1': '18-24 ye...","{'1-19': '7', '1-20': '7', '1-21': '7', '1-22'...","{'1-1': '7', '1-2': '4', '1-3': '7', '1-4': '7...","{'1-1': '7', '2-1': '7', '2-2': '1', '2-3': '1...","{'1-1': '7', '2-1': '6', '2-2': '5', '2-3': '5...",NaN
6,"{'1-1': '1', '2-1': 'Woman', '3-1': '18-24 yea...","{'1-19': '7', '1-20': '6', '1-21': '5', '1-22'...","{'1-1': '6', '1-2': '5', '1-3': '4', '1-4': '3...","{'1-1': '4', '2-1': '3', '2-2': '2', '2-3': '1...","{'1-1': '7', '2-1': '6', '2-2': '5', '2-3': '4...",NaN
7,"{'1-1': '12', '2-1': 'Woman', '3-1': '40-44 ye...","{'1-19': '4', '1-20': '4', '1-21': '4', '1-22'...","{'1-1': '3', '1-2': '3', '1-3': '3', '1-4': '3...","{'1-1': '3', '2-1': '2', '2-2': '3', '2-3': '3...","{'1-1': '3', '2-1': '1', '2-2': '2', '2-3': '3...",NaN
8,"{'1-1': 'est', '2-1': 'Woman', '3-1': '55-59 y...","{'1-19': '2', '1-20': '2', '1-21': '2', '1-22'...","{'1-1': '5', '1-2': '5', '1-3': '5', '1-4': '5...","{'1-1': '2', '2-1': '3', '2-2': '3', '2-3': '3...","{'1-1': '1', '2-1': '2', '2-2': '5', '2-3': '2...",NaN
9,"{'1-1': 'dasd', '2-1': 'Man', '3-1': '18-24 ye...","{'1-19': '4', '1-20': '4', '1-21': '4', '1-22'...","{'1-1': '4', '1-2': '4', '1-3': '5', '1-4': '5...","{'1-1': '4', '2-1': '4', '2-2': '4', '2-3': '4...","{'1-1': '4', '2-1': '4', '2-2': '4', '2-3': '5...",NaN